In [2]:
# Python Lists

list_of_objects = [12,56,100,34] # first way to create list

list_of_objects

[12, 56, 100, 34]

In [3]:
list_of_objects = list([12,56,100,6,7]) # second way 

list_of_objects

[12, 56, 100, 6, 7]

In [5]:
list_of_objects = [x for x in range(12,56,10)] # third way 

list_of_objects

[12, 22, 32, 42, 52]

In [6]:
# split the list 

prog_lang = "Hello!!, This is Python List"

prog_lang.split()

['Hello!!,', 'This', 'is', 'Python', 'List']

In [7]:
# mixed data types

mixed_list = [45,6.7,True,(45,78,100),["Python","List"]]

mixed_list

[45, 6.7, True, (45, 78, 100), ['Python', 'List']]

In [8]:
# updating the list 

mixed_list[3] = {"Python":"Popular Programming Language"}

mixed_list

[45, 6.7, True, {'Python': 'Popular Programming Language'}, ['Python', 'List']]

In [9]:
# appending

mixed_list.append([45+9j])

mixed_list

[45,
 6.7,
 True,
 {'Python': 'Popular Programming Language'},
 ['Python', 'List'],
 [(45+9j)]]

In [10]:
# insert at the specified index 

mixed_list.insert(1,False)

mixed_list

[45,
 False,
 6.7,
 True,
 {'Python': 'Popular Programming Language'},
 ['Python', 'List'],
 [(45+9j)]]

In [11]:
# extend the list 
mixed_list.extend(["Pandas","Numpy"])

mixed_list

[45,
 False,
 6.7,
 True,
 {'Python': 'Popular Programming Language'},
 ['Python', 'List'],
 [(45+9j)],
 'Pandas',
 'Numpy']

In [16]:
# slicing and assigning

mylist = [45,78,100,123]

mylist[1:2]=[1000,200,3000] # add elements at index 1 

mylist

[45, 1000, 200, 3000, 100, 123]

In [18]:
# deletion and removal
mylist= [90.67,50,100,67.7]
mylist.remove(100)

mylist

[90.67, 50, 67.7]

In [20]:
# deleting by index 

mylist = ["Python","is","Popular","Programming","Language"]

del mylist[3:5]

mylist

['Python', 'is', 'Popular']

In [23]:
# clearing the entire list 

mylist = [45,6,12,67,1000]

mylist.clear()

mylist # returns empty list

[]

In [25]:
# ordered Sequence 

my_list = [67,89,100,456,677]

my_list[2]

100

In [26]:
for i in my_list: print(i)

67
89
100
456
677

In [27]:
my_list[-4] # negative indexing

89

In [28]:
# data manipulation 
# sort 

my_list = [78,8,1,6,90,33]

my_list.sort()

my_list

[1, 6, 8, 33, 78, 90]

In [29]:
# reverse sorting 

my_list.sort(reverse=True)

my_list

[90, 78, 33, 8, 6, 1]

In [31]:
# filtering elements 

my_list = [67,56,11,33,100,19]

odd_list = [x  for x in my_list if x%2!=0]

odd_list

[67, 11, 33, 19]

In [33]:
# in exapnded form 

odd_list =[]

for i in my_list: 
    if i%2!=0 : odd_list.append(i)

odd_list

[67, 11, 33, 19]

In [34]:
# mapping the elements 

my_list = [5,6,7,8,10,12,44]

cubed_list = [x**3 for x in my_list]

cubed_list

[125, 216, 343, 512, 1000, 1728, 85184]

In [35]:
# concatenated Lists 

prog_lang_1= ["Python","Java","C++"]
prog_lang_2 = ["JavaScript","Julia","Ruby"]

prog_lang_1+ prog_lang_2

['Python', 'Java', 'C++', 'JavaScript', 'Julia', 'Ruby']

In [38]:
# other methods 

my_list = [34,56,10,23,100,44,34,10]

print(f"The maximum element {max(my_list)}")
print(f"The minimum element {min(my_list)}")
print(f"The unique elements {set(my_list)}")

my_list.reverse()

print(f"After reverse {my_list}")

print(f"34 occurs in the list {my_list.count(34)} times")

The maximum element 100
The minimum element 10
The unique elements {34, 100, 10, 44, 23, 56}
After reverse [10, 34, 44, 100, 23, 10, 56, 34]
34 occurs in the list 2 times

In [40]:
# pandas with Lists 

import pandas as pd

names = ["John","Alice","Joe","Kim"]
ages = [23,45,67,26]
hobbies = ["Playing","Coding","Programming","Gaming"]

df = pd.DataFrame({"Name":names,"Age":ages,"Hobby":hobbies}) # type: ignore

df

    Name  Age        Hobby
0   John   23      Playing
1  Alice   45       Coding
2    Joe   67  Programming
3    Kim   26       Gaming