In [2]:
# pandas count rows 

import pandas as pd 

data = {
    "prog":["Python","Java","C","JavaScript"],
    "rank":[1,2,3,4]
}

df = pd.DataFrame(data)
df

         prog  rank
0      Python     1
1        Java     2
2           C     3
3  JavaScript     4

In [4]:
no_of_rows = len(df)

no_of_rows

4

In [6]:
no_of_rows = df.shape

no_of_rows # return  in form of tuple(rows,columns)

(4, 2)

In [7]:
# get the only number of rows 

number_of_rows = df.shape[0]

print(f'The number of rows {number_of_rows}')

The number of rows 4

In [8]:
# get the number of columns 

number_of_cols = df.shape[1]

print(f'The number of columns {number_of_cols}')

The number of columns 2

In [10]:
# number of rows by index

number_of_rows = df.index.size

number_of_rows

4

In [11]:
# number of rows by len

number_of_rows = len(df.index)

print(f'The number of rows {number_of_rows}')

The number of rows 4

In [14]:
# number of rows by axes

number_of_rows = df.axes[0].size

print(f'The number of rows {number_of_rows}')

The number of rows 4

In [15]:
# number of rows by len(axes)

number_of_rows = len(df.axes[0])
print(f'The number of rows {number_of_rows}')

The number of rows 4