In [3]:
# writing the data into csv


import csv

data = [
    ["Name","Age","Hobby"],
    ["Alice",25,"Programming"],
    ["John",34,"Computer Gaming"],
    ["Tom",55,"Walking"],
    ["Sam",33,"Playing Chess"]
]

with open("mydata.csv","w") as f:
    csv_writer = csv.writer(f)
    csv_writer.writerows(data)

print("csv file written successfully!!")

csv file written successfully!!

In [4]:
# read the file using csv

with open("mydata.csv","r") as f:
    csv_reader = csv.reader(f)

    for row in csv_reader:
        print(row)

['Name', 'Age', 'Hobby']
['Alice', '25', 'Programming']
['John', '34', 'Computer Gaming']
['Tom', '55', 'Walking']
['Sam', '33', 'Playing Chess']

In [5]:
# read using pandas
import pandas as pd

data = pd.read_csv("mydata.csv")
data

    Name  Age            Hobby
0  Alice   25      Programming
1   John   34  Computer Gaming
2    Tom   55          Walking
3    Sam   33    Playing Chess

In [7]:
# writing the csv files with pandas 

data= {
    "Name":["Prashant","Rahul","Ravi"],
    "Age":[12,50,44],
    "Hobby":["Dancing","Traveling","Reading Books"]

}

df = pd.DataFrame(data)

df

       Name  Age          Hobby
0  Prashant   12        Dancing
1     Rahul   50      Traveling
2      Ravi   44  Reading Books

In [9]:
# manipulating data 

# filtering data 

df = pd.read_csv("mydata.csv")

filtered_data = df[df['Age']>25] # choose the records whose age is greater than 25

filtered_data

   Name  Age            Hobby
1  John   34  Computer Gaming
2   Tom   55          Walking
3   Sam   33    Playing Chess

In [12]:
# sorting data 

sorted_values = df.sort_values('Age') # sort records by age

sorted_values

    Name  Age            Hobby
0  Alice   25      Programming
3    Sam   33    Playing Chess
1   John   34  Computer Gaming
2    Tom   55          Walking

In [13]:
sorted_values = df.sort_values('Age',ascending=False) # sort the age by descending

sorted_values

    Name  Age            Hobby
2    Tom   55          Walking
1   John   34  Computer Gaming
3    Sam   33    Playing Chess
0  Alice   25      Programming

In [17]:
# transform (add column)

data['Salary']= df['Age']*1000 # add salary column by multiplying 1000 with age

data

{'Name': ['Prashant', 'Rahul', 'Ravi'],
 'Age': [12, 50, 44],
 'Hobby': ['Dancing', 'Traveling', 'Reading Books'],
 'Salary': 0    25000
 1    34000
 2    55000
 3    33000
 Name: Age, dtype: int64}

In [18]:
# aggregate 

data = pd.read_csv("mydata.csv")

average_age = data['Age'].mean() # calculate the average age 
average_age

36.75