In [2]:
# list comprehension 

str_ = [i for i in 'Hello Python']

str_

['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [3]:
# lambda function 

res = lambda x:x**2 

res(9)

81

In [4]:
import csv

header = ['Symbol', 'Price', 'Date']
rows = [['AAPL', 146.92, '2022-07-12'],
        ['GOOG', 2675.00, '2022-07-12'],
        ['TSLA', 659.58, '2022-07-12']]

filename = 'stocks.csv'

with open(filename, 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerows(rows)

print('CSV file created successfully.')

CSV file created successfully.

In [7]:
# apply function in pandas 

'''The apply() method allows you to apply a function along one of the axis of the DataFrame,
 default 0, which is the index (row) axis.'''

import pandas as pd

df =pd.read_csv("stocks.csv")

df

  Symbol    Price        Date
0   AAPL   146.92  2022-07-12
1   GOOG  2675.00  2022-07-12
2   TSLA   659.58  2022-07-12

In [10]:
# defining function to apply 

def check (num):

    if num <200:
        return "Low"
    elif num >=200 and num<400:
        return "Medium"
    else :
        return "High"

new_df = df['Price'].apply(check) # apply on Price column 

new_df

0     Low
1    High
2    High
Name: Price, dtype: object

In [15]:
# zip function 

prog_langs = ["Python","Java","PHP","JavaScript"]

rank = [1,2,3,4]

prog_rank = zip(prog_langs,rank)

list(prog_rank)

[('Python', 1), ('Java', 2), ('PHP', 3), ('JavaScript', 4)]

In [16]:
# we can also convert in set 

name = ["Harry","John","Joe","Sam"]

roll = [2,1,4,3]

zipped = zip(roll,name)

set(zipped)

{(1, 'John'), (2, 'Harry'), (3, 'Sam'), (4, 'Joe')}

In [21]:
# map function 

def calc(n):
    return n**3 +2 # returns cube + 2 


my_list = [2,5,6,8,10]

res = map(calc,my_list)

list(res)

[10, 127, 218, 514, 1002]