In [8]:
# python tips and tricks 

# map 
# apply an function to each value of an iterable objects(list,tuple,sets)

def square(x):
    return x**2 

input_list = [12,45,33,88]

# without lambda function

result = map(square,input_list)

print(list(result))

[144, 2025, 1089, 7744]

In [9]:
# with lambda 

result = map(lambda x:x**2 , input_list)

list(result)

[144, 2025, 1089, 7744]

In [10]:
# filter 
# filter out values from an iterable objects(list,tuples,sets,dicts)

def less_than_20(x):
    if x<20:
        return x


input_list= [23,55,12,33,10]

# without lambda 

list(filter(less_than_20,input_list))

[12, 10]

In [11]:
# with lambda 

list(filter(lambda x:x<20, input_list))

[12, 10]

In [13]:
# reduce 

# applied iteratively to all the values of the iterable object and returns only one value 

def subtraction(x,y):
    return y-x


from functools import reduce


input_list = [12,56,99,15]

# without lambda 

reduce(subtraction,input_list)

-40

In [14]:
# with lambda 

reduce(lambda x,y:y-x,input_list)

-40

In [2]:
# Import Modules
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import json,os

# Open Chrome Browser
driverPath = ChromeDriverManager().install()
driver = webdriver.Chrome(executable_path=driverPath)


def saveCookies(driver):
    # Get and store cookies after login
    cookies = driver.get_cookies()

    # Store cookies in a file
    with open('cookies.json', 'w') as file:
        json.dump(cookies, file)
    print('New Cookies saved successfully')


def loadCookies():
    # Check if cookies file exists
    if 'cookies.json' in os.listdir():

        # Load cookies to a vaiable from a file
        with open('cookies.json', 'r') as file:
            cookies = json.load(file)

        # Set stored cookies to maintain the session
        for cookie in cookies:
            driver.add_cookie(cookie)
    else:
        print('No cookies file found')
    
    driver.refresh() # Refresh Browser after login




loginURL = 'https://realpython.com/account/login/'
driver.get(loginURL)

# Load old session into the browser
loadCookies()


# sometime session expired or something wrong with session
# so every time we need to check after visit the login page
# if it's redirect to the Homepage -> we can use old session
# if it's not redirect to Homepage and stayed on login page -> we need to create new session and save new cookies



# I'm checking with if condition. if 'login' word is there in current browser URL or not
if 'login' in driver.current_url:
    # Ask for login Manually
    # Demo Account Login  User: xp4224314@gmail.com   :: Password: FN2jY4vbgPx9Uk
    print('Please Login the the website')
    print('Press Enter after successful login ...')
    input('>: ')

    # After successful login save new session cookies ot json file
    saveCookies(driver)

else:
    print('Previous session loaded')
    



'''
                Your Code here
'''


# close the browser
driver.quit()


print('Finished ...')

<ipython-input-2-d45c2cad2a8c>:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=driverPath)

Please Login the the website
Press Enter after successful login ...
New Cookies saved successfully
Finished ...

In [8]:
# sort the tuple with string and numbers 

my_list =[("are",3),("lambda",1),("simple",4),("functions",2)]

sorted_list = sorted(my_list,key=lambda x : x[1])

sorted_list

[('lambda', 1), ('functions', 2), ('are', 3), ('simple', 4)]

In [5]:
# lambda function is concise

my_list = [12,5,10,20]

def cube_square_sum(x):
    return x**3+x**2

In [6]:
result1 = list(map(cube_square_sum,my_list))

result1

[1872, 150, 1100, 8400]

In [7]:
result2 = list(map(lambda x:x**3+x**2,my_list)) # using lambda 

result2

[1872, 150, 1100, 8400]

In [9]:
# sorting the data structures in Python

# list 

numbers = [12,4,5,1,19]

sorted_num = sorted(numbers)

sorted_num

[1, 4, 5, 12, 19]

In [12]:
# in-place sorting with sort()

prog_langs = ["Python","Java","Rust","Go"]

prog_langs.sort()

prog_langs

['Go', 'Java', 'Python', 'Rust']

In [13]:
# custom sorting with key parameter 

prog_langs.sort(key=len)

prog_langs

['Go', 'Java', 'Rust', 'Python']

In [17]:
# sorting the list of objects

class Person:
    def __init__(self,name,age) :
        self.name=name
        self.age =age


people = [Person('John',25),Person('Jane',44),Person('Alice',33)]

sorted_people= sorted(people,key=lambda x:x.age)  # sort on the age key parameter 

for p in sorted_people: print(p.name)

John
Alice
Jane

In [18]:
# sorting in tuples

tup_nums = (12,6,9,10,2)

sorted_tup =sorted(tup_nums)

sorted_tup

[2, 6, 9, 10, 12]

In [19]:
# sorted with key parameter

tup_data = ("Python","Java","C","Julia")

sorted_tup_words = tuple(sorted(tup_data,key=len))

sorted_tup_words

('C', 'Java', 'Julia', 'Python')

In [20]:
# sorting in sets 

set_numbers = {2,5,7,1,10,6}

sorted_set =sorted(set_numbers)

sorted_set

[1, 2, 5, 6, 7, 10]

In [21]:
# sorting in dictionaries 

dictionary = {'Python':2,"Java":1,"Mojo":3,"Julia":4}

sorted_keys = sorted(dictionary.keys()) # sorting by keys

for key in sorted_keys:
    print(key,dictionary[key])

Java 1
Julia 4
Mojo 3
Python 2

In [23]:
sorted_items = sorted(dictionary.items(),key=lambda x:x[1]) # sorted by values 

for key,value in sorted_items:
    print(key,value)

Java 1
Python 2
Mojo 3
Julia 4

In [24]:
# sorting in array

import array

numbers = array.array('i',[4,5,6,1,10])

sorted_nums = sorted(numbers) # with sorted() method 

sorted_nums

[1, 4, 5, 6, 10]

In [29]:
# sorting in Pandas 
# sorting by columns values 
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'Salary': [50000, 60000, 45000]
}

df = pd.DataFrame(data)

sorted_df = df.sort_values('Salary',ascending=False)

sorted_df

      Name  Age  Salary
1      Bob   30   60000
0    Alice   25   50000
2  Charlie   22   45000

In [31]:
# sorting by multiple columns 

sorted_df = df.sort_values(['Age','Salary'], ascending=[True,False])

sorted_df

      Name  Age  Salary
2  Charlie   22   45000
0    Alice   25   50000
1      Bob   30   60000

In [32]:
# sorting series

s = pd.Series([12,5,3,1,19])

sorted_s = sorted(s)

sorted_s

[1, 3, 5, 12, 19]

In [34]:
# sorted by index 

sorted_s = s.sort_index(ascending=False)

sorted_s

4    19
3     1
2     3
1     5
0    12
dtype: int64

In [39]:
# magic methods in Python

class Point :

    def __init__(self,x,y):
        self.x=x
        self.y =y
    
    def __str__(self) :

        return f"Point {self.x} , {self.y}"

    def __eq__(self,other):
        if isinstance(other,Point):
            return self.x==other.x and self.y ==other.y

        return False

    def __add__(self,other):
        if isinstance(other,Point):
            return Point(self.x+other.x,self.y +other.y) 
        raise TypeError("Unsupported operand type for +")

    def __len__(self):
        return  abs(self.x) + abs(self.y)


# create two Point Objects 

p1 = Point(2,3)
p2 = Point(-1,5)

print(p1)

print(p1==p2)

p3 =p1+p2

print(p3)


print(len(p1))
print(len(p2))

Point 2 , 3
False
Point 1 , 8
5
6

In [40]:
# scrapped data from website using beautifulsoup and storing into pandas DataFrame


import requests

from bs4 import BeautifulSoup

url = "https://www.worldometers.info/coronavirus/countries-where-coronavirus-has-spread/"

page = requests.get(url)

soup = BeautifulSoup(page.text,'html.parser')

data=[]

data_iterator = iter(soup.find_all('td'))


while True :
    try:
        country = next(data_iterator).text
        confirmed = next(data_iterator).text
        deaths = next(data_iterator).text
        continent = next(data_iterator).text

        data.append((
            country,
            (confirmed),
            (deaths),
            continent
         ) )
        
    except StopIteration:
        break


data.sort(key=lambda row :row[1],reverse=True)

In [46]:
import pandas as pd

df = pd.DataFrame(data,columns=["Country","Confirmed","Deaths","Continent"]) # add columns to the dataframe
df.head(50)

                     Country  Confirmed   Deaths          Continent
0                    Belarus    994,037    7,118             Europe
1              French Guiana     98,041      420      South America
2                     Latvia    977,891    6,344             Europe
3                   DR Congo     96,652    1,467             Africa
4                      Niger      9,931      312             Africa
5   St. Vincent & Grenadines      9,631      124      North America
6              Guinea-Bissau      9,614      177             Africa
7                    Comoros      9,109      161             Africa
8        Antigua and Barbuda      9,106      146      North America
9                 MS Zaandam          9        2
10                   Senegal     88,997    1,971             Africa
11                    Malawi     88,728    2,686             Africa
12             Côte d'Ivoire     88,331      835             Africa
13              Saudi Arabia    841,469    9,646               Asia
14                Azerbaijan    831,822   10,273               Asia
15                  Suriname     82,513    1,405      South America
16                      Niue        811        0  Australia/Oceania
17                  Paraguay    810,581   19,931      South America
18               Netherlands  8,610,372   22,992             Europe
19                   Liberia      8,090      295             Africa
20             New Caledonia     79,922      314  Australia/Oceania
21          French Polynesia     78,569      649  Australia/Oceania
22                  Eswatini     74,670    1,425             Africa
23                    Guyana     73,207    1,298      South America
24                   Bahrain    721,806    1,563               Asia
25                    Belize     70,782      688      North America
26              Sierra Leone      7,762      126             Africa
27                      Chad      7,701      194             Africa
28                    Mexico  7,614,771  334,107      North America
29                      Iran  7,611,703  146,256               Asia
30    British Virgin Islands      7,305       64      North America
31              Cook Islands      7,120        2  Australia/Oceania
32                      Fiji     68,921      883  Australia/Oceania
33                Madagascar     68,288    1,425             Africa
34                 Sri Lanka    672,444   16,870               Asia
35                    Kuwait    665,909    2,570               Asia
36        Dominican Republic    661,176    4,384      North America
37                    Cyprus    660,854    1,364               Asia
38                   Myanmar    638,726   19,494               Asia
39                     Sudan     63,993    5,046             Africa
40                Cabo Verde     63,921      414             Africa
41                Mauritania     63,715      997             Africa
42        State of Palestine    621,008    5,404               Asia
43                   Moldova    620,519   12,118             Europe
44                    Bhutan     62,670       21               Asia
45                   Estonia    618,782    3,001             Europe
46                 Indonesia  6,807,085  161,762               Asia
47       Saint Kitts & Nevis      6,602       48      North America
48          Turks and Caicos      6,588       38      North America
49       Sao Tome & Principe      6,586       80             Africa