In [2]:
import pandas as pd 

df = pd.read_csv('tweets_june_2023.csv')

df

,Id,tweet,Likes,Retweets,Date,id,created_at,replies_count,retweets_count,likes_count,...,cashtags,language,link,conversation_id,Jahr,Monat,Tag,time,user_id,username
0,1664044000112779264,Learn Python by Building 12 Projects https://t...,394,91,2023-05-31 22:59:40,1664044000112779264,2023-05-31 22:59:40,3,91,394,...,[],en,https://twitter.com/machinelearnflx/status/166...,1664044000112779264,2023,5,31,22:59:40,4820804277,machinelearnflx
1,1664024458498129923,Components of #MLOps Platform for #MachineLear...,46,23,2023-05-31 21:42:01,1664024458498129923,2023-05-31 21:42:01,0,23,46,...,[],en,https://twitter.com/gp_pulipaka/status/1664024...,1664024458498129923,2023,5,31,21:42:01,4263007693,gp_pulipaka
2,1664020435342598146,100+ Practical Example Projects ( by Author Em...,238,68,2023-05-31 21:26:02,1664020435342598146,2023-05-31 21:26:02,1,68,238,...,[],en,https://twitter.com/gp_pulipaka/status/1664020...,1664020435342598146,2023,5,31,21:26:02,4263007693,gp_pulipaka
3,1663976858629861376,1. Intro to Computer Science And Programming I...,78,18,2023-05-31 18:32:52,1663976858629861376,2023-05-31 18:32:52,1,18,78,...,[],en,https://twitter.com/python_spaces/status/16639...,1663976856578822144,2023,5,31,18:32:52,1545688064957509632,python_spaces
4,1663968588104101888,Python Object Oriented Programming (OOP) - For...,520,137,2023-05-31 18:00:01,1663968588104101888,2023-05-31 18:00:01,3,137,520,...,[],en,https://twitter.com/PythonPr/status/1663968588...,1663968588104101888,2023,5,31,18:00:01,855384627975831553,PythonPr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2548,1609517038778875906,If you are new to programming and just getting...,88,29,2023-01-01 11:49:00,1609517038778875906,2023-01-01 11:49:00,1,29,88,...,[],en,https://twitter.com/akshay_pachaar/status/1609...,1609517024568545280,2023,1,1,11:49:00,703601972,akshay_pachaar
2549,1609511018140471297,3. Technical skills: A data analyst should be ...,58,7,2023-01-01 11:25:04,1609511018140471297,2023-01-01 11:25:04,1,7,58,...,[],en,https://twitter.com/Saboo_Shubham_/status/1609...,1609511009630277633,2023,1,1,11:25:04,1275333333724000257,Saboo_Shubham_
2550,1609490743248158720,Python Cheat Sheet for Data Science via @Cathe...,107,60,2023-01-01 10:04:30,1609490743248158720,2023-01-01 10:04:30,0,60,107,...,[],en,https://twitter.com/CatherineAdenle/status/160...,1609490743248158720,2023,1,1,10:04:30,68433676,CatherineAdenle
2551,1609367281754116098,Python Libraries &amp; Frameworks. #BigData #A...,114,60,2023-01-01 01:53:55,1609367281754116098,2023-01-01 01:53:55,1,60,114,...,[],en,https://twitter.com/BeingOvee/status/160936728...,1609367281754116098,2023,1,1,01:53:55,2984376936,BeingOvee
2552,1609361826906505216,Google's Python Course\n\nGoogle\n\nThis is a ...,30,7,2023-01-01 01:32:14,1609361826906505216,2023-01-01 01:32:14,3,7,30,...,[],en,https://twitter.com/pyquantnews/status/1609361...,1609359804572524545,2023,1,1,01:32:14,3187132960,pyquantnews

In [3]:
df.describe()

,Id,Likes,Retweets,id,replies_count,retweets_count,likes_count,conversation_id,Jahr,Monat,Tag,user_id
count,2.553000e+03,2553.000000,2553.000000,2.553000e+03,2553.000000,2553.000000,2553.000000,2.553000e+03,2553.0,2553.000000,2553.000000,2.553000e+03
mean,1.637173e+18,203.745789,61.696827,1.637173e+18,6.763807,61.696827,203.745789,1.637173e+18,2023.0,3.067763,15.347043,4.344201e+17
std,1.570588e+16,393.872726,113.486257,1.570588e+16,33.958592,113.486257,393.872726,1.570592e+16,0.0,1.414667,8.672067,5.702693e+17
min,1.609362e+18,10.000000,0.000000,1.609362e+18,0.000000,0.000000,10.000000,1.609360e+18,2023.0,1.000000,1.000000,1.249700e+04
25%,1.623729e+18,57.000000,20.000000,1.623729e+18,0.000000,20.000000,57.000000,1.623729e+18,2023.0,2.000000,8.000000,2.201236e+09
50%,1.638083e+18,98.000000,37.000000,1.638083e+18,1.000000,37.000000,98.000000,1.638083e+18,2023.0,3.000000,15.000000,4.263008e+09
75%,1.650392e+18,210.000000,67.000000,1.650392e+18,4.000000,67.000000,210.000000,1.650392e+18,2023.0,4.000000,23.000000,8.553846e+17
max,1.664044e+18,8235.000000,3061.000000,1.664044e+18,1100.000000,3061.000000,8235.000000,1.664044e+18,2023.0,5.000000,31.000000,1.657315e+18

In [8]:
# study with PandasAI 

from pandasai import PandasAI 
# instantiate a LLM
df = pd.read_csv('tweets_june_2023.csv')
from pandasai.llm.openai import OpenAI
llm = OpenAI(api_token="") # replace OPENAI_API_KEY

pandas_ai = PandasAI(llm)

pandas_ai(df,prompt = "How many columns in this dataframe?")

21

In [9]:
pandas_ai(df,prompt="How many rows in this DataFrame?")

2553

In [11]:
pandas_ai(df,prompt= "Name the columns in tuples of the dataframe")

('Id',
 'tweet',
 'Likes',
 'Retweets',
 'Date',
 'id',
 'created_at',
 'replies_count',
 'retweets_count',
 'likes_count',
 'hashtags',
 'cashtags',
 'language',
 'link',
 'conversation_id',
 'Jahr',
 'Monat',
 'Tag',
 'time',
 'user_id',
 'username')

In [14]:
pandas_ai(df,prompt="Total sum of likes_count")

520163

In [16]:
pandas_ai(df,prompt="How many null values in Dataframe")

526

In [17]:
pandas_ai(df,prompt="return the null values in DataFrame")

Id                   0
tweet                0
Likes                0
Retweets             0
Date                 0
id                   0
created_at           0
replies_count        0
retweets_count       0
likes_count          0
hashtags           526
cashtags             0
language             0
link                 0
conversation_id      0
Jahr                 0
Monat                0
Tag                  0
time                 0
user_id              0
username             0
dtype: int64

In [18]:
pandas_ai(df,prompt="Remove null values and returns the dataframe")

,Id,tweet,Likes,Retweets,Date,id,created_at,replies_count,retweets_count,likes_count,...,cashtags,language,link,conversation_id,Jahr,Monat,Tag,time,user_id,username
0,1664044000112779264,Learn Python by Building 12 Projects https://t...,394,91,2023-05-31 22:59:40,1664044000112779264,2023-05-31 22:59:40,3,91,394,...,[],en,https://twitter.com/machinelearnflx/status/166...,1664044000112779264,2023,5,31,22:59:40,4820804277,machinelearnflx
1,1664024458498129923,Components of #MLOps Platform for #MachineLear...,46,23,2023-05-31 21:42:01,1664024458498129923,2023-05-31 21:42:01,0,23,46,...,[],en,https://twitter.com/gp_pulipaka/status/1664024...,1664024458498129923,2023,5,31,21:42:01,4263007693,gp_pulipaka
2,1664020435342598146,100+ Practical Example Projects ( by Author Em...,238,68,2023-05-31 21:26:02,1664020435342598146,2023-05-31 21:26:02,1,68,238,...,[],en,https://twitter.com/gp_pulipaka/status/1664020...,1664020435342598146,2023,5,31,21:26:02,4263007693,gp_pulipaka
4,1663968588104101888,Python Object Oriented Programming (OOP) - For...,520,137,2023-05-31 18:00:01,1663968588104101888,2023-05-31 18:00:01,3,137,520,...,[],en,https://twitter.com/PythonPr/status/1663968588...,1663968588104101888,2023,5,31,18:00:01,855384627975831553,PythonPr
5,1663940135627501568,Python Classes: The Power of Object-Oriented P...,111,22,2023-05-31 16:06:57,1663940135627501568,2023-05-31 16:06:57,0,22,111,...,[],en,https://twitter.com/realpython/status/16639401...,1663940135627501568,2023,5,31,16:06:57,745911914,realpython
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2543,1609589775954022400,Great Computational Math Tools! @kdnuggets #Bi...,210,64,2023-01-01 16:38:01,1609589775954022400,2023-01-01 16:38:01,0,64,210,...,[],en,https://twitter.com/gp_pulipaka/status/1609589...,1609589775954022400,2023,1,1,16:38:01,4263007693,gp_pulipaka
2544,1609585495188668420,Different Normalizations with #Keras. #BigData...,120,51,2023-01-01 16:21:01,1609585495188668420,2023-01-01 16:21:01,1,51,120,...,[],en,https://twitter.com/gp_pulipaka/status/1609585...,1609585495188668420,2023,1,1,16:21:01,4263007693,gp_pulipaka
2547,1609517397840433152,Python Libraries &amp; Frameworks. #BigData #A...,48,22,2023-01-01 11:50:25,1609517397840433152,2023-01-01 11:50:25,0,22,48,...,[],en,https://twitter.com/parvezshahshaik/status/160...,1609517397840433152,2023,1,1,11:50:25,1193120599247224832,parvezshahshaik
2550,1609490743248158720,Python Cheat Sheet for Data Science via @Cathe...,107,60,2023-01-01 10:04:30,1609490743248158720,2023-01-01 10:04:30,0,60,107,...,[],en,https://twitter.com/CatherineAdenle/status/160...,1609490743248158720,2023,1,1,10:04:30,68433676,CatherineAdenle
2551,1609367281754116098,Python Libraries &amp; Frameworks. #BigData #A...,114,60,2023-01-01 01:53:55,1609367281754116098,2023-01-01 01:53:55,1,60,114,...,[],en,https://twitter.com/BeingOvee/status/160936728...,1609367281754116098,2023,1,1,01:53:55,2984376936,BeingOvee

In [19]:
pandas_ai(df,prompt="how many null values in the dataframe")

0

In [20]:
pandas_ai(df,prompt="How many duplicates in the dataframe")

('Number of duplicates in the dataframe:', 0)